body {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  background-color: white;
  color: black;
  font-family: "Lora", "Garamond", serif;
  line-height: 1.5rem;
}

h1 {
  font-size: 2.5rem;
}

article,
footer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

article {
  margin-top: 3rem;
}

code {
  font-family: "Fira Code", monospace;
}

footer {
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode pre {
  background-color: black;
}

#dark-mode-toggle {
  top: 1rem;
  right: 1rem;
  position: fixed;
  font: inherit;
  font-size: 1.2rem;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  display: none;
}

{{.CodeHighlightStyle}}
