{{block "layout" .}}
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Posts by Stanislav Gatev." />
    <title>Posts</title>
    <style>
      {{template "structure_style" .}}
      {{.CodeHighlightStyle}}
    </style>
  </head>
  <body>
    <button id="dark-mode-toggle" onClick="toggleDarkMode()">☯&#xFE0E;</button>
    <article>{{template "article" .}}</article>
    <footer>
      <hr />
      © {{.CurrentYear}} • Stanislav Gatev •
      <a href="https://creativecommons.org/licenses/by/4.0/"
        >Creative Commons Attribution License</a
      >
    </footer>
    <script>
      function darkModeEnabled() {
        return localStorage.getItem("darkModeEnabled") === "true";
      }

      function setDarkMode(enabled) {
        document.body.classList.toggle("dark-mode", enabled);
        document.getElementById("dark-mode-toggle").style.display = "block";
        localStorage.setItem("darkModeEnabled", enabled ? "true" : "false");
      }

      function toggleDarkMode() {
        setDarkMode(!darkModeEnabled());
      }

      setDarkMode(darkModeEnabled());
    </script>
  </body>
</html>
{{end}}
