{{define "structure_style"}}
body {
  font-family: "Arial", sans-serif;
  line-height: 1.5rem;
}

h1,
h2 {
  font-family: "Garamond", serif;
}

h1 {
  font-size: 2.5rem;
}

article,
footer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

article {
  margin-top: 3rem;
}

footer {
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}
{{end}}
